.body {
  text-align: center;
  margin: auto;
}


.table {
  text-align: center;
}

header {
  height: 20px;
  color: antiquewhite;
  background-color: cadetblue;
}

footer {
  height: 20px;
  color: antiquewhite;
  background-color: cadetblue;
}
